:root {
  --bg-color: rgb(25, 30, 30);
  --bg-secondary: rgb(30, 40, 40);
  --border-color: rgb(180,180,180);
  --border-color-secondary: rgb(50, 50, 50);
  --text-color: rgb(220,220,220);
  
  --brand-first: rgb(80, 200, 80);
  --brand-second: rgb(220, 220, 220);
}
